.container {
    max-width: 1064px;
    margin: auto;
}
.main_banner{
    background: #F0EFEB;
    padding: 90px 0;
    display: flex;
    justify-content: center;
    position: relative;
}
.main_banner article{
    display: flex;
    align-items: center;
}

.humanity h1 {
    font: 60px/70px 'Roboto', sans-serif;
    font-weight: 700;
    color: #000000;
    margin-bottom: 42px;
    width: 534px;
}
.humanity h5 {
    font: 24px/28px 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    margin-bottom: 26px;
    width: 481px;
}
.humanity a {
    font: 17px/20px 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 7px 23px 9px;
    text-decoration: none;
    display: inline-block;
}
.first-img {
    position: absolute;
    width: 599px;
    height: 521px;
    left: 781px;
    top: -9px;
    padding: 9px 60px 24px;
}
.guides {
    text-align: center;
    margin-bottom: 189px;
}
.description {
    text-align: center;
    margin-top: 60px;
}
.explain {
    font: 36px/42px 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #000000;
}
.description h3 {
    margin-bottom: 27px;
}
.teaser {
    margin-bottom: 47px;
    display: inline-block;
    font: 20px/23px 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    text-align: center;
    max-width: 632px;
}
.availability {
    margin-bottom: 88px;
    font: 20px/23px 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #000000;
}
.best-sellers {
    margin-bottom: 52px;
    font: 36px/42px 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #000000;
}
.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h4{
    font: 17px/20px 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #000000;
    margin-bottom: 17px;
}
.card p{
    font: 17px/20px 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}
.card a{
    font: 17px/20px 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}
.cards img{
    max-width: 309px;
    display: inline-block;
    margin-bottom: 27px;
}